<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> ModularAdmin - Free Dashboard Theme | HTML Version </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/submit.css">

    </head>

    <body>
      <div class="main-wrapper">
          <div class="container">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-scroll">
              <div class="container">

              <div class="row">
              <div class="navbar-header col-xs-4">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="brand">
                    <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> 길JOB이</div>
              </div>


              <div class="collapse col-xs-4 col-xs-offset-1  navbar-collapse navbar-center navbar-ex1-collapse" id="menu-center">
                <ul class="nav navbar-nav">
                  <li><a class="navbar-menu">홈 </a></li>
                  <li><a class="navbar-menu">제출하기 </a></li>
                  <li><a class="navbar-menu">비교하기 </a></li>
                </ul>
              </div>

              <div class="collapse col-xs-3 navbar-collapse navbar-right navbar-ex1-collapse ">
                <ul class="nav navbar-nav pull-right">
                  <li><a class="navbar-menu">로그인 </a></li>
                  <li><a class="navbar-menu">회원가입 </a></li>
                </ul>
              </div>
              </div>
            </div>
            </nav>



    <div class="container" id="page">

      <div class="compare-select card-block text-center">
        <article>
          <h3><strong>분석 결과 비교하기</strong></h3>

          <p>이전에 제출했던 자기소개서의 분석 결과와 비교하여 확인 할 수 있습니다.</p>
        </article>

        <div class="row select-job">
<div class="col-xs-offset-3 col-xs-3">
          <select class="form-control">
            <option>분석 직무 선택</option>
            <option>영업</option>
            <option>마케팅</option>
            <option>홍보</option>
            <option>생산</option>
            <option>IT</option>
          </select>
        </div>

        <div class="col-xs-3 col-xs-3">
            <select class="form-control">
              <option>분석 기업 선택</option>
              <option>SK</option>
              <option>LG</option>
              <option>CJ</option>
              <option>현대</option>
              <option>삼성</option>
            </select>
          </div>


        </div>

      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <div class="result-list card-block" id="list1">
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">삼성 IT개발 1차 2019-03-30</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-03-30 19:07</h6>
              </div>
            </div>
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">삼성 IT개발 최종 2019-04-12</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-04-12 14:07</h6>
              </div>
            </div>
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">삼성 IT개발 자소서 1</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-03-08 11:47</h6>
              </div>
            </div>
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">삼성 웹개발직군 자소서 1</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-03-10 19:07</h6>
              </div>
            </div>
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">현대 IT 자소서 1</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-03-10 19:07</h6>
              </div>
            </div>
            <div class="result-item card-block row">
              <div class="col-xs-1">
                <input type="checkbox" aria-label="..." class="result-check" name="check">
              </div>
              <div class="col-xs-11">
                <h5 style="text-align:left;">삼성 IT 자소서 1</h5>
                <h6 class="result-text pull-left">IT</h6>
                <h6 class="result-text pull-right">2019-03-10 19:07</h6>
              </div>
            </div>

          </div>
        </div>
      </div>

      <center>
      <button class="btn btn-default comparebutton" type="submit">비교하기</button>
      </center>

      </div>




  <!-- 드롭다운 메뉴 위치 에러 발생 -->
  <!--
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    분석 직무 선택

  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
-->


    </div>





</div>
</div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- 자바스크립트 충돌
        <script src="js/bootstrap.min.js"></script>
        -->
        <script src="js/vendor.js"></script>
        <script src="js/app.js"></script>

        <script type="text/javascript">
        $(document).ready(function() {
          $('input[type="checkbox"][name="check"]').click(function(){
            if ($(this).prop('checked')) {
              $(this).prop('checked', true);
              $(this).parents('.result-item').css('border-color', '#4a8ac8');
            }
            else if($(this).prop('checked', false)) {
              $(this).parents('.result-item').css('border-color', '#F2F2F2');
            }
          });
        });
        </script>



    </body>

</html>
