@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

body .main-wrapper {
  padding-top: 80px;
}

/*******************************

        submit.html

*******************************/

html {
  scroll-behavior: smooth;
}
#navbar-scroll {
  background-color: transparent;
}

.content.dashboard-page {
    padding-top: 80px;
    background-color: transparent;
  }



.brand {
  padding-top: 6px;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
}

.collapse .nav .navbar-menu {
  color: #fff;
  font-weight: bold;
}

.navbar-inner {
    background:transparent;
}

.navbar-default{
  background-color:#f8f8f8;
  border-color: transparent;
}

.bg-dark.scrolled{
  background : #25272b !important;
}


.collapse .nav .navbar-menu:hover {
  color: #4a8ac8;
  cursor:pointer;
}


.job-select {
  padding-top: 30px;
}

#dropdown-job {
  display:inline-block;
  width: 600px;
  border-color: #4a8ac8;
  margin-top: 20px;
  margin-bottom: 160px;
}

#dropdown-job:visited {
  border-color: #4a8ac8;
}

#dropdown-job:hover {
  background-color: #fff;
}

#test::placeholder {
  font-style: normal;
}

.main-btn {
    background: #4a8ac8;
    color: #FFF;
    font-weight: 700;
    font-size : 18px;
}


::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #4a8ac8; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #4a8ac8; }

.page-section{
  
  padding: 100px 0;
}

.info-wrapper-first{
  padding : 80px 0;

}


.first-title{
  color: #25272b;
  width: 185px;
  padding-left : 60px;
}

.first-content{
 font-size : 14px;
 padding-left : 80px;
}

.info-wrapper-second{
  padding : 40px 0;
}

.second-title{
  color: #25272b;
  width: 185px;
  padding-left : 60px;
}

.second-content{
 font-size : 14px;
 padding-left : 80px;
}