@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

body .main-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

/*******************************

        submit.html

*******************************/

#navbar-scroll {
  background-color: white;
}

.content.dashboard-page {
    padding-top: 80px;
  }



.brand {
  padding-top: 6px;
  font-weight: bold;
  font-size: 23px;
  color: #000000;
}

#submit-guide {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2.0em;
}

.collapse .nav .navbar-menu {
  color: #424242;
  font-weight: bold;
}

.collapse .nav .navbar-menu:hover {
  color: #4a8ac8;
}

#menu-center {
  padding-left: 90px;
}

.job-select {
  padding-top: 30px;
}

.enterprise-select {
  padding-top: 30px;
}

.dropdown .selectbox-dropdown {
  display:inline-block;
  width: 300px;
  border-color: #4a8ac8;
  margin-top: 20px;
  margin-bottom: 60px;
}

.dropdown .selectbox-dropdown:visited {
  border-color: #4a8ac8;
}

.dropdown .selectbox-dropdown:hover {
  background-color: #fff;
}

#box-enter {
  margin-bottom: 160px;
}

#test::placeholder {
  font-style: normal;
}

.submitbutton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  font-size: 18px;
  width: 160px;
  height: 60px;
  color: #ffffff;
  background-color: #4a8ac8;
}



/*******************************

        loding.html

*******************************/

#lodingpage {
  background-color: #F2F2F2;
}

.progress-text {
  margin-top: 170px;
  margin-bottom: 60px;
}

.progress {
  width: 700px;

  text-align: center;
}


.progress {
  height: 25px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  border-color: #4a8ac8;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 25px;
  color: #fff;
  padding-left: 270px;

  text-align: center;
  background-color:#4a8ac8;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}


/*******************************

        compare.html

*******************************/


.container .compare-select {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 50px;
  width: 100%;
  height: 920px;
  box-shadow: 1px 1px 1px 1px gray;
  background-color: #fff;
}

.compare-select .select-job {
  margin-top: 30px;
  margin-bottom: 30px;
}

.result-list {
  overflow: scroll;
  width: 100%;
  margin-top: 30px;
  height: 500px;
  box-shadow: 1px 1px 1px 1px gray;
  background-color: #fff;
}

.result-list .result-item {
  padding-top: 20px;
  width: 100%;
  margin: 5px 5px 15px 3px;
  height: 100px;
  border: 2px solid #F2F2F2;
}

.result-list .result-item:hover {
  border-color: #4a8ac8;
}

.result-list .result-item:active {
  border-color: #4a8ac8;
}

input[class="result-check"] {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
  color: #fff;
	cursor: pointer;
}

.result-item .result-text {
  margin-top: 10px;
  color: #bcbcbc;
}

.comparebutton {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 60px;
  margin-top: 50px;
  color: #ffffff;
  background-color: #4a8ac8;
}
